body {
    font-family: "Verdana", sans-serif;
    margin: 0;
    padding: 1.5rem;
    line-height: 1.6;
    background-color: #8d3674;
    color: #222;
}
h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.weasel {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: #c1eae6;
    border-radius: 3rem;
    text-align: center;
}
.weasel img {
     border-radius: 3rem;
     width: 100%;
     height: 100%;
     object-fit: contain;
}
.weaselbutton {
    display: inline-block;
    padding: 0.7rem 4rem;
    background: #a4a035;
    color: white;
    border-radius: 4rem;
    text-decoration: none;
}
